* {
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 20px;
  }

}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

}

body {
  margin: 0;
  font-family: 'CircularStd', sans-serif;
  color: #3D4F5C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 2.08rem;
  font-weight: 700;
}

